<main class="mx-auto flex h-full min-h-0 max-w-5xl flex-col gap-3  px-6">

  <!-- Header -->

  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-semibold text-slate-900">
      {{ editMode ? 'Edit Product' : 'Add Product' }}
    </h1>

<button
  type="button"
  (click)="cancel()"
  class="rounded-xl border border-slate-300 px-4 py-2.5"
>
  Back to list
</button>

  </div>

  <!-- Form -->

  <section class="rounded-2xl border border-slate-200 bg-white p-6 shadow-sm overflow-y-auto">

<form
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
  class="grid gap-5 md:grid-cols-2"
>

  <!-- Product Name -->
  <div>
    <label>Product Name</label>

    <input
      type="text"
      formControlName="name"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    />

    <p
      *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid"
      class="text-xs text-red-600"
    >
      Product name is required.
    </p>
  </div>


  <!-- SKU -->
  <div>
    <label>SKU</label>

    <input
      type="text"
      formControlName="sku"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    />

    <p
      *ngIf="productForm.get('sku')?.touched && productForm.get('sku')?.invalid"
      class="text-xs text-red-600"
    >
      SKU is required.
    </p>
  </div>


  <!-- Category Name -->
  <div>
    <label>Category Name</label>

    <select
      formControlName="category_name"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    >
      <option [ngValue]="null">Select a category name</option>

      <option
        *ngFor="let category of categories"
        [ngValue]="category.name"
      >
        {{ category.name }}
      </option>
    </select>

    <p
      *ngIf="productForm.get('category_name')?.touched && productForm.get('category_name')?.invalid"
      class="text-xs text-red-600"
    >
      Category name is required.
    </p>
  </div>


  <!-- Supplier Name -->
  <div>
    <label>Supplier Name</label>

    <select
      formControlName="supplier_name"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    >
      <option [ngValue]="null">Select a supplier name</option>

      <option
        *ngFor="let supplier of suppliers"
        [ngValue]="supplier.name"
      >
        {{ supplier.name }}
      </option>
    </select>

    <p
      *ngIf="productForm.get('supplier_name')?.touched && productForm.get('supplier_name')?.invalid"
      class="text-xs text-red-600"
    >
      Supplier name is required.
    </p>
  </div>


  <!-- Price -->
  <div>
    <label>Unit Price</label>

    <input
      type="number"
      formControlName="unit_price"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    />

    <p
      *ngIf="productForm.get('unit_price')?.touched && productForm.get('unit_price')?.invalid"
      class="text-xs text-red-600"
    >
      Price must be greater than zero.
    </p>
  </div>


  <!-- Quantity -->
  <div>
    <label>Quantity</label>

    <input
      type="number"
      formControlName="quantity_in_stock"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    />

    <p
      *ngIf="productForm.get('quantity_in_stock')?.touched && productForm.get('quantity_in_stock')?.invalid"
      class="text-xs text-red-600"
    >
      Quantity cannot be negative.
    </p>
  </div>


  <!-- Reorder Level -->
  <div>
    <label>Reorder Qty.</label>

    <input
      type="number"
      formControlName="reorder_level"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    />

    <p
      *ngIf="productForm.get('reorder_level')?.touched && productForm.get('reorder_level')?.invalid"
      class="text-xs text-red-600"
    >
      Reorder level cannot be negative.
    </p>
  </div>


  <!-- Description -->
  <div class="md:col-span-2">
    <label>Description (optional)</label>

    <textarea
      rows="4"
      formControlName="description"
      class="w-full rounded-xl border border-slate-300 px-3 py-2.5"
    ></textarea>
  </div>


  <!-- Error -->
  <div
    *ngIf="errorMessage"
    class="md:col-span-2 text-sm text-red-600"
  >
    {{ errorMessage }}
  </div>


  <!-- Buttons -->
  <div class="md:col-span-2 flex justify-end gap-3">

    <button
      type="button"
      (click)="cancel()"
      [disabled]="submitting"
      class="rounded-xl border border-slate-300 px-4 py-2.5"
    >
      Cancel
    </button>

    <button
      type="submit"
      [disabled]="submitting"
      class="rounded-xl bg-blue-600 px-4 py-2.5 text-white"
    >
      {{ submitting ? 'Saving...' : (editMode ? 'Update Product' : 'Save Product') }}
    </button>

  </div>

</form>
 
  </section>

</main>
